/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(180deg, #2e00a1, #7a00ff, #ff00d4);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Title */
.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.header-content {
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rabbit {
  width: 190px;
  height: auto;
}

.rabbit-left {
  transform: scaleX(-1); /* mirror untuk kelinci kiri */
}

.subtitle {
  margin: 70px 0 40px;
  font-size: 24px;
}

/* Countdown */
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.time {
  background: #5e00ff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.time span {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.time p {
  position: absolute;
  bottom: -28px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.colon {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

/* Rewards */
.rewards {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.rewards-title {
  text-align: left;
  margin-bottom: 10px;
  color: #fff;
}

.box {
  flex: 1;
  /* min-width: 300px; */
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  text-align: left;
}

.box h3 {
  margin-bottom: 15px;
  color: #0ff;
}

.box ul {
  list-style: none;
}

.box li {
  margin: 8px 0;
  font-size: 15px;
}

/* Form */

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form-box {
  margin: 70px auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.form-box h3 {
  margin-bottom: 20px;
  color: #7fff00;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.form-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"],
input[type="password"] {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
}

.captcha {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  background: #007bff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.rewards {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-box {
  flex: 1;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
